@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

body {
    font-family: "Abril Fatface", serif;
    margin: 0;
    padding: 0;
    background-color: #3e8b31; /* Cor de fundo ajustada */
}

header {
    background-size: cover;
    background-position: center;
    height: 300px;
    position: relative;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-content {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 20px;
    border-radius: 10px;
}

h1 {
    color: rgb(0, 0, 0);
    font-size: 2em;
}

.container {
    width: 90%;
    margin: auto;
    overflow: hidden;
}

.event {
    display: flex;
    flex-direction: row;
    align-items: center; 
    background: white;
    margin: 20px 0;
    padding: 20px;
    border-left: 5px solid #50b3a2; 
    border-radius: 15px; 
    text-align: left; /* Alinha o texto à esquerda */
    position: relative;
}

.event h3 {
    margin-top: 0;
    text-align: center; /* Centraliza o texto h3 */
    width: 100%; /* Ocupa toda a largura disponível */
}

.event p {
    margin-left: 20px; /* Ajusta a margem à esquerda */
}

.event::before {
    content: "";
    position: absolute;
    left: -40px;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    background-image: url('icone_evento.png'); /* Substitua pelo caminho do seu ícone */
    background-size: cover;
    border-radius: 50%; /* Ícone arredondado */
}

.event-img {
    margin-right: 20px; /* Adiciona margem à direita da imagem */
    border-radius: 10px;
    width: 300px;
    max-width: 100%;
    height: auto;
}

.event-details {
    flex: 1;
}

/* Estilos para dispositivos móveis */
@media (max-width: 768px) {
    .container {
        width: 100%;
        padding: 0 10px;
    }

    .event {
        flex-direction: column;
        text-align: center; /* Alinha o texto ao centro em dispositivos móveis */
    }

    .event p {
        margin-left: 0; /* Remove a margem à esquerda em dispositivos móveis */
    }

    .event-img {
        margin-right: 0; /* Remove a margem à direita em dispositivos móveis */
        width: 100%; /* Garante que a imagem ocupe toda a largura disponível */
        height: auto;
    }

    .event::before {
        left: 50%;
        transform: translateX(-50%) translateY(-50%); /* Centraliza o ícone acima da imagem */
    }
}
